POSTGRES_DB=disaster_db
POSTGRES_USER=disaster
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=disaster_db
POSTGRES_PORT=5432
OLLAMA_HOST=http://host.docker.internal:11434
SYNC_API_KEY=change_me_to_a_long_random_string
